* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  word-break: break-all;
  font-size: 20px;
  /* flex-wrap: wrap; */
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d2f7ffab;
}

/* 크롬, 사파리, 엣지, 오페라  */
body::-webkit-scrollbar {
  display: none;
}

span {
  font-weight: bold;
}

footer {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}
