* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  word-break: break-all;
  /* flex-wrap: wrap; */
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d2f7ffab;
  /* 파이어 폭스 */
  scrollbar-width: none;
}

/* 크롬, 사파리, 엣지, 오페라  */
body::-webkit-scrollbar {
  display: none;
}

span {
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  margin: 15px;
  font-size: 18px;
}

footer {
  margin-top: 10px;
}
