/* 중복적으로 자주 쓸 CSS */
.div100flex {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowSAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration-line: none;
  color: black;
}

.marginLeft {
  margin-left: 20px;
}

.listTypeNone {
  list-style-type: none;
}

.image {
  border-radius: 50%;
  object-fit: fill;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.margin15 {
  margin: 15px;
}

.marginTwo {
  margin: 20px;
}

.font18 {
  font-size: 18px;
}

/* 알약캡슐 */
.containerFull {
  width: 927px;
  height: 945px;
  position: relative;
}

.blueCap {
  width: 347.188px;
  height: 378px;
  border-radius: 50% 50% 0% 0%;
  background-color: #3d9df6;
  margin-left: 45%;
  position: absolute;
  transform-origin: center top;
  transform: rotate(30deg); /* 왼쪽으로 이동하고 회전 */
  top: 10%;
}

.whiteCap {
  width: 347.188px;
  height: 378px;
  border-radius: 0% 0% 50% 50%;
  background-color: #fff;
  position: absolute;
  transform-origin: center bottom; /* 회전 중심 설정 */
  transform: translateX(-50%) rotate(30deg); /* 왼쪽으로 이동하고 회전 */
  bottom: 17%;
}

.blueSmallCap {
  width: 50px;
  height: 60px;
  border-radius: 50% 50% 0% 0%;
  transform: rotate(30deg);
  background-color: #3d9df6;
  margin: 0;
  box-shadow: 3px 3px #333;
}

.whiteSmallCap {
  width: 50px;
  height: 60px;
  border-radius: 50% 50% 0% 0%;
  transform: rotate(-30deg);
  background-color: #fff;
  margin: 0;
  box-shadow: 3px 3px #333;
}

.wh80 {
  width: 100%;
  height: 80%;
}

/* 각 페이지 상단 알약 부분 */
.topBox {
  width: 100%;
  height: 20%;
}

/* 특정 페이지들의 세부 CSS */

/* 메인페이지 */
.bottomMain {
  width: 70%;
  height: 55%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 5px #333;
}

.mainList {
  font-size: 30px;
}

.mainsub {
  width: 85%;
  height: 65%;
}

.title {
  margin-left: 10px;
  font-size: 20px;
}

.toggle {
  width: 100%;
  height: 80%;
  font-size: 25px;
}

.toggleButton {
  width: 80%;
  height: 35%;
  text-align: center;
  font-size: 25px;
}

.toggleButton:hover {
  cursor: pointer;
}

/* 신상페이지 */

.bottomInfo {
  width: 70%;
  height: auto;
  background-color: #fff;
  padding: 20px;
}

/* 사진, 이름, 출시년월 */
.infoTable {
  width: 85%;
  height: 25%;
  text-align: center;
  margin: 20px;
}

.infoTableRow {
  width: 80%;
  height: 30%;
  font-size: 19px;
}

.infoTableRowOne {
  width: 33%;
  height: 20%;
}

.infoTableRowTwo {
  width: 33%;
  height: 80%;
}

.infoTableImg {
  width: 70%;
  height: 80%;
  border-radius: 50%;
}

/* 신상에 내 소개멘트 */

.infoTitle {
  width: 85%;
  height: 20%;
  margin: 20px;
  font-size: 18px;
}

.infoRow {
  width: 30%;
  height: 80%;
}

.infoLang {
  width: 85%;
  height: 30%;
  margin: 20px;
  text-align: center;
  padding: auto;
}

.infoLangTitle {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
}

/* 신상 내 언어부분 */

.lang {
  width: 50%;
  height: 100%;
  margin: 0;
}

.langBox {
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
}

.langTitle {
  width: 100%;
  height: 20%;
  margin: 5px;
}

/* 더 알고싶다면 */
.infoMore {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

/* 프로젝트 부분 */

.bottomProject {
  width: 75%;
  height: auto;
  font-size: 18px;
}

.projectTap {
  width: 85%;
  height: 80px;
  font-size: 25px;
}

.projectTap:hover {
  cursor: pointer;
  /* color: #3d9df6; */
}

.projectBox {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
}

.projectInfoBox {
  width: 85%;
  height: 30%;
}

.projectInfo {
  width: 55%;
  height: 100%;
  margin: 0;
}

.projectName {
  width: 100%;
  height: 20%;
  text-align: right;
}

.projectDetail {
  width: 100%;
  height: 80%;
}

.projectText {
  width: 80%;
  height: 20%;
  font-size: 20px;
  margin: 15px;
}

.projectEnv {
  width: 80%;
  height: 40%;
  font-size: 20px;
  margin: 15px;
}

.projectPlayer {
  width: 100%;
  height: 30%;
}

.projectPlay {
  width: 80%;
  height: 30%;
}
