/* 중복적으로 자주 쓸 CSS */
.containerFull {
  width: 100%;
  height: 100%;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowSAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration-line: none;
}

/* 알약캡슐 */
.blueCap {
  width: 40%;
  height: 40%;
  border-radius: 50% 50% 0% 0%;
  transform: rotate(30deg);
  background-color: #3d9df6;
  margin-left: 420px;
}

.whiteCap {
  width: 40%;
  height: 40%;
  border-radius: 0% 0% 50% 50%;
  transform: rotate(30deg);
  background-color: #fff;
}

.blueSmallCap {
  width: 50px;
  height: 60px;
  border-radius: 50% 50% 0% 0%;
  transform: rotate(30deg);
  background-color: #3d9df6;
  margin: 0;
}

.whiteSmallCap {
  width: 50px;
  height: 60px;
  border-radius: 50% 50% 0% 0%;
  transform: rotate(-30deg);
  background-color: #fff;
  margin: 0;
}

/* 특정 페이지들의 세부 CSS */
.topBox {
  width: 100%;
  height: 20%;
}

.bottom {
  width: 70%;
  height: auto;
  background-color: #fff;
}

.bottomMain {
  width: 70%;
  height: 40%;
  background-color: #fff;
}

.toggle {
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.mainList {
  font-size: 30px;
}

.mainsub {
  width: 85%;
  height: 65%;
}

.toggleButton {
  width: 80%;
  height: 35%;
  text-align: center;
  font-size: 25px;
}

.title {
  margin-left: 10px;
  font-size: 20px;
}

.image {
  border-radius: 50%;
  object-fit: fill;
}

.infoTable {
  width: 85%;
  height: 30%;
  text-align: center;
}

.infoTitle {
  width: 30%;
  height: 20%;
}

.infoRow {
  width: 30%;
  height: 80%;
}

.infoLang {
  width: 85%;
  height: 30%;
  text-align: center;
}

.marginLeft {
  margin-left: 20px;
}

.lang {
  width: 50%;
  height: 100%;
  margin: 0;
}

.langBox {
  width: 100%;
  height: 80%;
}

.langTitle {
  width: 100%;
  height: 20%;
}

.listTypeNone {
  list-style-type: none;
}
